body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("./pig_background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#board {
    width: 100%;
    max-width: 360px;
    height: auto;
    aspect-ratio: 360 / 576;

    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center;
    display: block;
}
